---
import Layout from '../layouts/Layout.astro';

---
<Layout titol="Diccionari">

<div class="flex items justify-center flex-col items-center">
	
	<a href ="/words" class=" px-5 py-3 text-base font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">Buscar paraules</a>
	
</div>
</Layout>



