---
import Tornar from "../../components/Tornar.astro";
import Layout from "../../layouts/Layout.astro";
import words from "../../data/castellano.js"
const { inici } = Astro.params;


---

<Layout titol={inici}>
    <Tornar url="/words" />

    <div class="flex items justify-content flex-col items-center">
<<<<<<< Updated upstream
        <h1 class="flex items justify-center mb-4 text-4xl font-bold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-4xl dark:text-black">Palabras en castelleno que empiezan por "{inici}".</h1>
    <br />

    <div>
        <h1 class="mb-4 text-xl font-bold leading-none tracking-tight text-red-800 md:text-2xl lg:text-2xl dark:text-red underline underline-offset-3 decoration-8 decoration-red-400 dark:decoration-red-800"> Hemos encontrado
            {
                words
                .filter(e => e.startsWith(inici))
                .slice(0, 500)
                .map(e => {e}).length
            } resultados.
        </h1>
    </div>

       <br />


    <div class="grid grid-cols-3">
        
        <table>
            {
                words
                .filter(e => e.startsWith(inici))
                .slice(0, 500)
                .map(e => <p class="mx-10">{e}</p>)
            }
        </table>
    </div>
    </div>
    
    
</Layout>
