---

const {titol} = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{titol}</title>
	</head>
	<body class="p-10 bg-orange-100">
		<h1 class = "flex items justify-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">{titol}</h1>
		<hr class="h-px mb-4 bg-gray-700 border-0 dark:bg-red-800">
        <slot />
	</body>
</html>

